<?xml version="1.0"?>
<robot name="tuppyboat">

	<link name="base_link"><visual>
		<origin xyz="0 0 0" rpy="0 0 0"/>
	</visual></link>
  <link name="polycarbsheet"><visual>
    <geometry><box size="0.762 0.762 0.0254"/></geometry>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </visual></link>
	<link name="lefthull"><visual>
    <geometry><box size="0.254 1.27 0.178"/></geometry>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </visual></link>
	<link name="righthull"><visual>
    <geometry><box size="0.254 1.27 0.178"/></geometry>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </visual></link>

  <joint name="baselink_polycarbsheet" type="fixed">
    <parent link="base_link"/>
    <child link="polycarbsheet"/>
    <origin xyz="0 0 -0.9" rpy="0 0 0"/>
  </joint>
  <joint name="polycarbsheet_lefthull" type="fixed">
    <parent link="polycarbsheet"/>
    <child link="lefthull"/>
    <origin xyz="-1 0 -1" rpy="0 0 0"/>
  </joint>
  <joint name="polycarbsheet_righthull" type="fixed">
    <parent link="polycarbsheet"/>
    <child link="righthull"/>
    <origin xyz="1 0 1" rpy="0 0 0"/>
  </joint>

</robot>
